<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578472858443-27mgnk6c4sjruk9ovn3cbrp22r3d73e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578472858443-27mgnk6c4sjruk9ovn3cbrp22r3d73e0</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Ei1eXkHRbhaSRMsLAcEvgZOZUxRWZtc</string>
	<key>GCM_SENDER_ID</key>
	<string>578472858443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatchat.papayetoo</string>
	<key>PROJECT_ID</key>
	<string>chatchat-7deb6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-7deb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:578472858443:ios:6e296a73e8fe2d407f0ece</string>
</dict>
</plist>
